# Mend documentation: https://docs.mend.io/legacy-sca/latest/getting-started-with-the-unified-agent

excludes=**/e2e/** **/tools/**
fileSystemScan=false
resolveAllDependencies=false

gradle.resolveDependencies=true
gradle.aggregateModules=true
gradle.preferredEnvironment=wrapper
gradle.includeModules=sonar-rust-plugin
gradle.includedConfigurations=runtimeClasspath

cargo.resolveDependencies=true
cargo.runPreStep=false

wss.url=https://saas-eu.whitesourcesoftware.com/agent

forceUpdate=true
checkPolicies=true
forceUpdate.failBuildOnPolicyViolation=true
