name: Shadow Scan
on:
  schedule:
    - cron: '0 2 * * *'  # Daily at 2 AM UTC
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: sonar-xs
    name: Build for Shadow Scan
    permissions:
      id-token: write
      contents: write
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: jdx/mise-action@5ac50f778e26fac95da98d50503682459e86d566 # v3.2.0
        with:
          version: 2025.7.12
      - uses: SonarSource/ci-github-actions/build-gradle@v1
        with:
          gradle-args: "--info --stacktrace"

  sonar_shadow_scan_sqc_eu:
    needs: [build]
    runs-on: sonar-xs
    name: SonarCloud EU Shadow Scan
    permissions:
      id-token: write
      contents: write
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: jdx/mise-action@5ac50f778e26fac95da98d50503682459e86d566 # v3.2.0
        with:
          version: 2025.7.12
      - name: Vault
        id: secrets
        uses: SonarSource/vault-action-wrapper@v3
        with:
          secrets: |
            development/kv/data/sonarcloud token | SONAR_TOKEN;
      - name: SonarCloud Shadow Scan
        env:
          SONAR_TOKEN: ${{ fromJSON(steps.secrets.outputs.vault).SONAR_TOKEN }}
          PROJECT_KEY: "SonarSource_sonar-rust"
          SONAR_HOST_URL: "https://sonarcloud.io"
        run: |
          source .cirrus/shadow-scan.sh

  sonar_shadow_scan_sqc_us:
    needs: [build]
    runs-on: sonar-xs
    name: SonarQube US Shadow Scan
    permissions:
      id-token: write
      contents: write
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: jdx/mise-action@5ac50f778e26fac95da98d50503682459e86d566 # v3.2.0
        with:
          version: 2025.7.12
      - name: Vault
        id: secrets
        uses: SonarSource/vault-action-wrapper@v3
        with:
          secrets: |
            development/kv/data/sonarqube-us token | SONAR_TOKEN;
      - name: SonarQube US Shadow Scan
        env:
          SONAR_TOKEN: ${{ fromJSON(steps.secrets.outputs.vault).SONAR_TOKEN }}
          PROJECT_KEY: "SonarSource_sonar-rust"
          SONAR_HOST_URL: "https://sonarqube.us"
        run: |
          source .cirrus/shadow-scan.sh

  run_iris:
    needs: [sonar_shadow_scan_sqc_eu, sonar_shadow_scan_sqc_us]
    runs-on: sonar-xs
    name: Run IRIS
    permissions:
      id-token: write
      contents: write
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: jdx/mise-action@5ac50f778e26fac95da98d50503682459e86d566 # v3.2.0
        with:
          version: 2025.7.12
      - name: Vault
        id: secrets
        uses: SonarSource/vault-action-wrapper@v3
        with:
          secrets: |
            development/kv/data/iris sqc-eu | SONAR_IRIS_SQC_EU_TOKEN;
            development/kv/data/iris sqc-us | SONAR_IRIS_SQC_US_TOKEN;
            development/kv/data/iris next | SONAR_IRIS_NEXT_TOKEN;
      - name: Run IRIS
        env:
          SONAR_SQC_EU_URL: "https://sonarcloud.io"
          SONAR_IRIS_SQC_EU_TOKEN: ${{ fromJSON(steps.secrets.outputs.vault).SONAR_IRIS_SQC_EU_TOKEN }}
          SONAR_SQC_US_URL: "https://sonarqube.us"
          SONAR_IRIS_SQC_US_TOKEN: ${{ fromJSON(steps.secrets.outputs.vault).SONAR_IRIS_SQC_US_TOKEN }}
          SONAR_NEXT_URL: "https://next.sonarqube.com/sonarqube"
          SONAR_IRIS_NEXT_TOKEN: ${{ fromJSON(steps.secrets.outputs.vault).SONAR_IRIS_NEXT_TOKEN }}
        run: |
          source .cirrus/run-iris.sh
