name: Shadow Scan
on:
  schedule:
    - cron: '0 2 * * *'  # Daily at 2 AM UTC
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: github-ubuntu-latest-m
    name: Build for Shadow Scan
    permissions:
      id-token: write
      contents: write
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: jdx/mise-action@5ac50f778e26fac95da98d50503682459e86d566 # v3.2.0
        with:
          version: 2025.7.12
      - name: Setup Rust toolchain
        run: |
          sudo apt-get update
          sudo apt-get -y install rustup musl-tools
          sudo apt-get clean

          # Setup Rust toolchain (default target only)
          rustup default ${{ env.RUST_VERSION }}
          rustup component add llvm-tools rustfmt clippy
          rustup target add x86_64-unknown-linux-musl
          cargo install cargo-llvm-cov cargo-about
      - name: SQC shadow scans
        uses: SonarSource/ci-github-actions/build-gradle@v1
        with:
          deploy: false
          deploy-pull-request: false
          run-shadow-scans: true
          gradle-args: "-PskipCrossCompile --info --stacktrace  --no-daemon"

  run_iris:
    needs: [ build ]
    if: ${{ !cancelled() && needs.build.result == 'success' }}
    concurrency:
      group: iris-${{ github.ref }}
      cancel-in-progress: false
    runs-on: github-ubuntu-latest-s
    name: Run IRIS
    permissions:
      id-token: write
      contents: write
    steps:
      - name: Run IRIS Analysis
        uses: SonarSource/unified-dogfooding-actions/run-iris@v1
        with:
          primary_project_key: "SonarSource_sonar-rust"
          primary_platform: "Next" # Platform of the primary platform (Next, SQC-EU, SQC-US)
          shadow1_project_key: "SonarSource_sonar-rust"
          shadow1_platform: "SQC-EU" # Platform of the first shadow platform (Next, SQC-EU, SQC-US)
          shadow2_project_key: "SonarSource_sonar-rust"
          shadow2_platform: "SQC-US" # Platform of the second shadow platform (Next, SQC-EU, SQC-US)
